---
import Link from '../Link.astro';
import FancyButton from './FancyButton.astro';

export interface Props {
    title: string;
    subtitle: string;
    img: string;
}

const { title, subtitle, img } = Astro.props;
---

<section class="container">
    <div class="bio">
        <h1 class="title">
            {title}
        </h1>
        <h4 class="subtitle">
            {subtitle}
        </h4>
        <article class="description">
            <slot />
        </article>
        <FancyButton href="#projects">
            Projects
        </FancyButton>
    </div>
    <div class="profilepic">
        <img src={img} draggable="false" />
    </div>
</section>

<style>
    .container {
        display: flex;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to right, white, lightblue);
    }

    .bio {
        display: flex;
        flex-direction: column;
        transform: translate(0, 50vh);
        margin-left: 100px;
    }

    .profilepic {
        transform: translate(0, 15vh);
    }

    .profilepic > img {
        width: 100%;
        height: auto;
    }

    .title {
        font-size: 3vw;
        font-weight: bold;
        margin: 0;
    }

    .subtitle {
        font-size: 1.75vw;
        font-weight: bold;
        color: darkcyan;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .description {
        font-size: 1vw;
        color: darkslategray;
    }

    @media all and (max-width: 1800px) {
        .bio {
            transform: translate(0, 35vh);
        }
        
        .profilepic {
            transform: translate(0, 25vh);
        }

        .title {
            font-size: 4vw;
        }

        .subtitle {
            font-size: 2vw;
            margin-bottom: 10px;
        }

        .description {
            font-size: 1.5vw;
        }
    }

    @media all and (max-width: 1200px) {
        .container {
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding-top: 60px;
        }

        .bio {
            margin-inline: 40px;
            transform: translate(0, 0);
        }

        .profilepic {
            transform: translate(0, 0);
        }

        .title {
            font-size: 50px;
        }

        .subtitle {
            font-size: 25px;
            margin-bottom: 10px;
        }

        .description {
            font-size: 18px;
        }
    }
</style>